body {
  font-family: 'Helvetica Neue';
  color: white;
  background-image: url('tool.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

p {
  font-weight: 200;
  font-size: 30px;
}

.hero-unit {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  max-width: 960px;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
}
